/.clangd
/.log
/compile_commands.json

/.cache
# /.cache/*
# !/.cache/compdb

*.bkp
\#*\#

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/.rh-trusted

/bazel-*
/build

node_modules

/tools/arm-gnu-toolchain-*